<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>树叶识别</title>
    <link rel="stylesheet" href="/static/css/recog_styles.css"> <!-- 引用外部CSS文件 -->
    <link rel="icon" href="../static/imgs/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <h1>树叶识别系统</h1>
        </div>
    </header>

    <!--顶部导航栏-->
    <nav>
        <div class="container">
            <a href="./index.html">首页</a>
            <a href="./about.html">关于</a>
            <a href="./recognition.html">识别</a>
            <a href="./contact.html">联系</a>
        </div>
    </nav>

    <!--识别主体部分-->
    <div class="main_content">
        <!-- 图片选择button-->
        <div class="img_select_btn">
            <label for="leafImage" class="custom-file-button">
                选择文件
            </label>
            <input type="file" id="leafImage" accept="image/*" hidden>
        </div>
        <script src="../static/js/file-select-button.js"></script>
        
        <!-- 自定义下拉菜单 -->
        <div class="custom-dropdown">
            <div class="selected-option">选择模型</div>
            <ul class="options-list hidden" id="model">
                <!-- 下拉选项 -->
                <li value="option1">YOLOv8</li>
                <li value="option2">ResNet50</li>
                <!-- 更多选项 -->
            </ul>
        </div>
        <script src="../static/js/model-select-btn.js"></script>
        
        <!-- 开始识别button -->
        <button id="submitBtn" class="submit_btn">开始识别</button>
    </div>
    
    <!-- result区域 -->
    <div class="result-container">
        <div class="image-container">
            <!-- 图片部分 -->
            <img id="uploadedImage" src="../static/imgs/example.jpg" alt="预置图片" class="fixed-image">
            <script src="../static/js/img-cover.js"></script>

            <!-- 简短结果区域 -->
            <div class="result-section-short">
                <p id="shortPrediction">
                    <span class="label">名称:</span> aesculus_pavi<br>
                    <span class="label">中文名称:</span> 北美红花七叶树<br>
                    <span class="label">分类:</span> 16<br>
                    <span class="label">置信度:</span> 0.99342
                </p>
            </div>
        </div>
        <!-- 详细结果区域 -->
        <div class="result-section-detail">
            <p id="detailedPrediction">
                <p>形态特征:<br>落叶乔木，树高一般3-6米，最高可达12米。树皮灰褐色，片状剥落，小枝粗壮，栗褐色，光滑无毛。掌状复叶小叶通常5枚，成树5-7枚，无柄，叶片倒卵形至长椭圆形，边缘有不规则重锯齿。花期4-5月，圆锥花序，红色，花枝长10-20厘米，每朵花长4厘米左右。 果球形或倒卵形，于9月下旬至10月中下旬成熟。<br></p>
                <p>生长习性:<br>喜阳光，稍耐阴，适生于气候温暖、湿润地区。能耐-43℃低温，在深厚肥沃、排水良好的土壤中生长最好最快。<br></p>
                <p>主要价值:<br>北美红花七叶树姿态壮丽，树冠丰满，叶大奇特、形美，顶生红色总状花序，直立于叶簇之中，火红似华丽的烛台，十分美观。为世界园林观赏绿化树种之一，可作为行道树和庭院观赏树，亦可配置于公园、庭院、厂矿和学校作为景观点缀树种。</p>
            </p>
        </div>
    </div>
    

    <!--底部栏-->
    <footer>
        <p>&copy; 2024 树叶识别系统 版权所有</p>
    </footer>

    <script src="../static/js/main.js"></script>
</body>
</html>
