<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>树叶识别</title>
    <link rel="stylesheet" href="/static/style_index.css"> <!-- 确保路径正确 -->
</head>
<body>
    <header>
        <div class="container">
            <h1>树叶识别</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <a href="/index.html">首页</a> <!-- 使用 Flask 路由 -->
            <a href="#">关于</a>
            <a href="/recognition.html">识别</a>
            <a href="#">联系</a>
        </div>
    </nav>

    <div class="container content">
        <h2>请上传树叶图片进行识别</h2>
        <div class="upload-section">
            <input type="file" id="leafImage" accept="image/*">

            <label for='model'>选择模型：</label>
            <select id='model'>
                <option value="YOLO">YOLOv8</option>
                <option value="ResNet">ResNet50</option>
            </select>

            <button id="submitBtn">提交</button>
        </div>

        <div id="result" class="result-section">
            <h3>预测结果：</h3>
            <p id="prediction"></p>
            <img id="uploadedImage" src="" alt="上传的图片" style="max-width: 100%; height: auto; display: none;">
        </div>
    </div>
    

    

    <footer>
        <p>&copy; 2024 树叶识别系统 版权所有</p>
    </footer>

    <script>
        document.getElementById('submitBtn').addEventListener('click', function() {
            var fileInput = document.getElementById('leafImage');
            var modelInput = document.getElementById('model');
            var file = fileInput.files[0];

            if (file) {
                // 在页面上显示上传的图片
                var reader = new FileReader();
                reader.onload = function(e) {
                    var imgElement = document.getElementById('uploadedImage');
                    imgElement.src = e.target.result;
                    imgElement.style.display = 'block';
                }
                reader.readAsDataURL(file);

                var formData = new FormData();
                formData.append('leafImage', file);
                formData.append('model',modelInput.value);

                // 向服务器发送图像文件并获取预测结果
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                     // 解析并显示结果
                    var resultElement = document.getElementById('prediction');
                    var parsedData = JSON.parse(data);
                    
                    if (Array.isArray(parsedData) && parsedData.length > 0) {
                        var result = parsedData[0];
                        resultElement.innerHTML = `<strong>类别：</strong>${result.name}<br><strong>置信度：</strong>${(result.confidence * 100).toFixed(2)}%`;
                    } else {
                        resultElement.innerText = '没有检测到结果。';
                    }
                })
                .catch(error => {
                    document.getElementById('prediction').innerText = '上传失败：' + error;
                    console.error('Error:', error);
                });
            } else {
                alert("请先选择一张图片！");
            }
        });
    </script>
</body>
</html>
