<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>树叶识别系统</title>
    <link rel="stylesheet" href="../static/css/thank_you_style.css">
    <link rel="icon" href="../static/imgs/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="container">
            <h1>树叶识别系统</h1>
        </div>
    </header>

    <nav>
        <div class="container">
            <a href="./index.html">首页</a>
            <a href="./about.html">关于</a>
            <a href="./recognition.html">识别</a>
            <a href="./contact.html">联系</a>
        </div>
    </nav>

    <div class="imgbox">
        <div class="carousel">
            <div class="thank-you-container">
                <div class="thank-you-message">
                    <h1>感谢您的反馈!</h1>
                    <p>您的意见对我们非常重要。</p>
                    <p>我们将尽快处理您的反馈内容。</p>
                    <a href="./index.html" class="home-button">返回首页</a>
                </div>
            </div>
            <img src="../static/imgs/6.jpg" class="activate">
        </div>
    </div>


    <footer>
        <p>&copy; 2024 树叶识别系统 版权所有</p>
    </footer>
</body>
</html>
